#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
nuget

##############
# IDE config #
##############

.idea/
.vscode/

##############
# Configuration files #
##############

docker-compose.yml
rclone.conf

##############
# Database files #
##############

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal
