#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
nuget

##############
# IDE config #
##############

.idea/
.vscode/

#################
# local configs #
#################

db.sqlite
db.sqlite-shm
db.sqlite-wal
docker-compose.yml
rclone.conf
data-protection/
CLAUDE.md
