.badge {
    display: inline-block;
    line-height: 1;
    border-radius: .375rem;
    font-weight: 700;
    font-size: .75em;
    padding: .35em .65em;
    color: #fff;
    position: relative;
    text-align: center;
    vertical-align: baseline;
    background-color: #222;
    overflow: clip;
    width: 85px;
}

.badge-text {
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(var(--bs-primary-rgb));
    transition: width 500ms ease-in-out;
}

@media not (pointer: coarse),
(min-width: 900px) {
    .failure-badge:hover {
        cursor: pointer;
    }
}